{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>My LAB</title>
  <!-- CSS -->
  <style>
    #loading {
      -webkit-animation: rotation 36s infinite linear;
    }

    @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(359deg);
      }
    }


    .navbar-nav li:hover>.dropdown-menu {
      display: block;
    }

    .btn-outline-primary {
      color: #8a42f5;
      border-color: #8a42f5
    }

    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:visited {
      background-color: #8a42f5;
      border-color: #8a42f5;
    }

    .nav-item:hover {
      border-bottom: 2px solid #8a42f5;
      text-decoration: none;
      font-size: larger;
    }
  </style>

</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">
      <img id="loading" src="{% static 'homepage/images.jpg' %}" width="60" height="60" alt="MyLab">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'crypto:home' %}">Crypto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'polls:index' %}">Polls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:home' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'joblist:home' %}">Joblist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop:home' %}">Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'finance:companies' %}" id="navbarDropdownMenuLink"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Finance
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'user:profile' %}">Profile</a>
        <a class="nav-item nav-link" href="{% url 'user:logout' %}">Logout</a>

        {% else %}
        <a class="nav-item nav-link" href="{% url 'user:login' %}">Join Now</a>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <!-- Optional JavaScript -->
  <!--jQuery first, then Popper.js, then Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--jQuery -->
  <script>
    $(document).ready(function () {
      $('li.active').removeClass('active');
      $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
  </script>

</body>

</html>